@import "helpers/variables.scss";
@import "componants/buttons.scss"; /**/
/*Start Blog Page*/

// Start Editing Profile
.ediating_profile{
    // Start Add image
    .add_image{
        text-align: center;
        margin: 0 auto;
        .profile_image{
            margin: 0 auto;
            height: 240px;
            width: 240px;
            line-height: 240px;
            text-align: center;
            border-radius: 100%;
            background: #fff;
            box-shadow: 0 48px 88px rgba(0,0,0,0.20);
             margin-bottom: 30px;

 
        }
        #upload_imag{
            position: relative;
            cursor: pointer;
        }
        input[type="file"] {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            cursor: pointer;

        }
        .button{
            margin-top: 30px;
            span{
                margin: 0 4px;
            }
        }
    }

    // End Add Image

    // Start Profile Form
    .profile_form{
        @media (max-width:$md){
            text-align: center;
            margin-top: 30px;
        }

        .form_title{
            font-size: 24px;
            color: $mainColor;
            label{
                font-size: 12px;  
            }
    
        }

 
        .sub_title{
            font-size: 22px;
            color: $mainColor;
            margin: 16px 0;
        }
        .button{
            margin: 0 auto;
            background: $darkColor;
            &:hover{
                background: $secondColor;
            }
        }
    }

    // End Profile Form
}
// End Edidtaing Profile