@charset "UTF-8";
/*Media Query*/
/*Box Shadow*/
/***Container Widt***/
@media (min-width: 992px) {
  .container {
    max-width: 1170px; } }

/*Glopal Style*/
img {
  max-width: 100%;
  height: auto; }

[data-src] {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center; }

/********Glopal Class******/
.home_page-title {
  color: #0093FF;
  font-size: 24px;
  margin-bottom: 25px;
  position: relative;
  padding-left: 20px; }
  .home_page-title:before {
    position: absolute;
    display: block;
    content: "";
    height: 30px;
    width: 5px;
    border-radius: 150px;
    background-color: #0093FF;
    top: 0;
    left: 0;
    /*Change*/ }

.button_load-mpre {
  margin-top: 30px; }

.paragraph_global {
  color: #333333;
  font-size: 16px;
  line-height: 30px; }

.home_page-section {
  padding: 50px 0; }

.list-unstyled {
  padding-left: 0;
  list-style: none;
  margin: 0;
  padding: 0; }

.list_inline {
  padding-left: 0;
  list-style: none;
  margin: 0;
  padding: 0; }
  .list_inline li {
    display: inline-block; }

a,
a:hover {
  text-decoration: none; }

.social_sharing ul li a, .favorite_buttons li {
  transition: all ease-in-out 0.3s; }

/*Start Custume Select Button*/
.custum_select {
  width: 100%;
  height: 100%;
  position: relative; }
  .custum_select:before {
    display: block;
    position: absolute;
    content: "\f0dd";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 22px;
    top: -2px;
    z-index: 1;
    color: #40446A;
    right: 20px;
    left: auto;
    /*Change*/ }
  .custum_select select {
    cursor: pointer;
    width: 100%;
    padding: 0 14px;
    z-index: 3;
    position: relative;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none; }

/*Start Custume Select Button*/
/*Start Glopal Form*/
.glopal_form {
  padding: 15px;
  /*End Glopal Form*/ }
  @media (max-width: 576px) {
    .glopal_form {
      margin-top: 30px; } }
  .glopal_form select {
    width: 100%;
    color: #0093FF;
    cursor: pointer; }
  .glopal_form label {
    display: block;
    font-size: 16px;
    color: #2C378E;
    margin-bottom: 15px; }
  .glopal_form button:focus,
  .glopal_form input:focus,
  .glopal_form select:focus,
  .glopal_form textarea:focus {
    outline: none !important;
    border-color: #1EDDEC; }
  .glopal_form input,
  .glopal_form select,
  .glopal_form textarea {
    border: none;
    border: 1px solid rgba(18, 68, 98, 0.23);
    width: 100%;
    border-radius: 30px;
    padding: 8px 10px;
    margin-bottom: 20px;
    font-size: 14px; }
  .glopal_form .select_content-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    .glopal_form .select_content-area .select_your-tupe {
      width: 100%; }
      .glopal_form .select_content-area .select_your-tupe aside {
        width: 100%;
        display: flex;
        justify-content: space-around; }
        .glopal_form .select_content-area .select_your-tupe aside .select_type-content {
          display: flex;
          justify-content: space-around;
          align-items: center;
          align-content: center;
          margin-bottom: 30px; }
          .glopal_form .select_content-area .select_your-tupe aside .select_type-content span {
            display: block; }
    .glopal_form .select_content-area .slect_Your-twon {
      width: 100%; }
  .glopal_form input[type='radio'] {
    height: 16px;
    width: 16px;
    background-color: #fff;
    margin: 0 4px;
    cursor: pointer; }
  .glopal_form textarea {
    height: 120px; }
  .glopal_form .button-blue {
    border: none;
    cursor: pointer;
    padding: 10px 40px; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  ul li {
    text-decoration: none; }

/*Start Social Media Sharing*/
.puplish_date {
  color: #2C378E;
  font-size: 12px; }
  .puplish_date i {
    margin: 0 4px;
    display: inline-block; }

.social_sharing h3 {
  margin-bottom: 20px; }
  .social_sharing h3 i {
    color: #2C378E; }
  .social_sharing h3 span {
    font-size: 23px;
    color: #2C378E; }
.social_sharing ul li a {
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin: 0 4px;
  display: inline-block;
  cursor: pointer; }
  .social_sharing ul li a:hover {
    opacity: 0.8; }
  .social_sharing ul li a[class*=facebook] {
    background-color: #3b5998; }
  .social_sharing ul li a[class*=twi] {
    background-color: #1da1f2; }
  .social_sharing ul li a[class*=google] {
    background-color: #ea4335; }
  .social_sharing ul li a[class*=link] {
    background-color: #00a0dc; }
  .social_sharing ul li a[class*=what] {
    background-color: #25d366; }

.favorite_buttons li {
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer; }
  .favorite_buttons li.active i {
    color: #FB647D; }
  .favorite_buttons li:hover i {
    color: #FB647D; }
  .favorite_buttons li i {
    font-size: 22px;
    color: #2C378E; }

/*Start Cources Head Title*/
.course_head-title .home_page-title {
  margin-bottom: 10px; }
.course_head-title span {
  margin: 0 20px;
  color: #0093FF; }

/*End Cources Head Title*/
/*Start Profile Coach S=Glopal Style*/
.flowers_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .flowers_list li {
      margin-bottom: 8px; } }
  .flowers_list li span {
    display: inline-block;
    margin: 0 8px;
    color: #2C378E; }
  .flowers_list li i {
    font-size: 18px;
    color: #0093FF; }
    .flowers_list li i[class*="newspaper"] {
      color: #2C378E; }
    .flowers_list li i[class*="eye"] {
      color: #1EDDEC; }
    .flowers_list li i[class*="heart"] {
      color: #FB647D; }

/*End Profile Coach S=Glopal Style*/
* {
  font-family: 'Montserrat', sans-serif; }

/**Start Arabic Menu**/
body {
  text-align: right !important; }

/*Navbar */
.notification_area .notification_area-list {
  left: 40%;
  right: auto; }

@media (min-width: 992px) {
  .notification_area .notification_button {
    margin-left: 50px;
    margin-right: 0; } }

@media (min-width: 992px) {
  .login_area-content .login_button {
    margin-right: 0;
    margin-left: 50px; } }

@media (min-width: 992px) {
  .navbar_menu {
    padding-right: 20px;
    padding-left: 0;
    /*Change*/ } }

.navbar_dropdown-menu {
  /*Dropdown Menu For Descktop*/ }
  @media (min-width: 992px) {
    .navbar_dropdown-menu {
      right: -47px; } }

.dropdown_link i {
  padding-right: 8px;
  right: 50px; }

/*Navbar */
/**Header Slider Dotes****/
.header_slider .slick-dots {
  text-align: right; }

.navbar_menu li a i {
  right: 200px;
  left: auto; }

.header:before {
  background-image: linear-gradient(to left, rgba(0, 147, 255, 0.8), rgba(44, 56, 144, 0.8)); }

/*01=Start variables*/
.home_page-title {
  padding-right: 20px; }
  .home_page-title:before {
    right: 0; }

.testmonial_block i[class*="fa-quote-left"] {
  float: right; }

/*01=End variables*/
/*┘ìStart Single Page For All Pagees*/
.head_page .head_page-content .bread_crumb li a {
  margin-left: 20px;
  margin-right: 0;
  /*Change*/ }
  .head_page .head_page-content .bread_crumb li a:before {
    content: "\f100";
    /*Change*/
    left: -18px;
    right: auto;
    /*Change*/ }

.provider_search .search_content .advanced_search-button {
  margin-right: 18px;
  margin-left: 0; }

/*****Font******/
/*Start Custume Select Button*/
.custum_select:before {
  left: 20px;
  right: auto;
  /*Change*/ }

/*Start Registration Popup*/
/*Start Registration*/
#sign_in .modal-body .forget_password {
  text-align: left !important; }

/*Footer of Registration Screen*/
.modal-footer span:before {
  content: "\f30a";
  left: -20px;
  right: auto; }

/*End of Registration Screen*/
/*Start Blog Details Page*/
.blog_details-img {
  display: inline-block;
  float: left;
  /*Change*/ }

/*Start My Account Pages*/
@media (max-width: 768px) {
  .profile_menu {
    right: -300px;
    left: auto; } }
@media (max-width: 768px) {
  .profile_menu.switch {
    right: 0px;
    left: auto; } }
.profile_menu .show_menu {
  left: -40px;
  right: auto; }
  .profile_menu .show_menu i {
    transform: rotate(0deg); }
  .profile_menu .show_menu.switch i {
    transform: rotate(180deg); }
.profile_menu .add_image .back_button:before {
  transform: rotate(270deg); }

.about_us .title {
  margin-right: 50px;
  margin-left: 0; }
  .about_us .title:before {
    right: -60px;
    left: auto; }

/*End My Account Pages*/
/*End Blog Details Page*/
a,
bdi,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
label,
li,
option,
p,
select,
span,
td,
textarea,
th {
  font-family: 'Cairo', sans-serif; }

/*# sourceMappingURL=them.rtl.css.map */
