// Start Blog Page
//=01= Start Special Articls
.special_articls
  .container-fluid
    h2(class="home_page-title") مقالات
    .div(class="articl_slider-js ")
      // Satrt Articl Block
      .articl_block
        //- Start Articl Block Content
        .row
          //Start Articl Image
          div(class="col-sm-12 col-lg-6 col-xl-3") 
            aside(class="article_image" data-src="img/bg/category3.png")
          //End Articl Image 
          
          //Start Article Description 
          div(class="col-sm-12 col-lg-6 col-xl-6")
             div(class="article_description") 
                h3(class="article_title")  
                  a(href="#") متي يبدء التخطيط المهني ودور الأسرة والمدرسة فيه
                p(class="paragraph_global")
                  .
                    أنسب وقت يبدء فيه الطالب وضع خطة مهنية وهو عنده 15 سنه - تقريبا 3 أعدادي أو أولي ثانوي - وده لأن كل قرار ابتداء في المرحلة بيؤثر في تشكيل وتوجيه مسارنا المهني علي مدار حياتنا. في أوروبا والدور المتقدمة :D عشان #مراكز_التوجيه_المهني في #المدارس تساعد الطلاب علي أتخاذ قرار مهني بتشجع الطلاب علي تطو...
                // ٍStart Flowers details
                ul(class="list_inline flowers_list")
                  //-Start List
                  li
                    i(class="fas fa-newspaper")
                    span مقالة
                  //-End List
                  //-Start List
                  li
                    i(class="far fa-clock") 
                    span نشر فى 18 /11 /2019 
                  //-End List
                  //-Start List
                  li
                    i(class="fas fa-bars")
                    span Career Coaching
                // ٍStart Flowers details
                  //-End List
  
                // End Flowers details       
          //End Article Description
          
          // Start Articls Subscribtion
          div(class="col-sm-12 col-xl-3")
            .articls_subscription
              //-Start Favorite and like Button  
              ul(class="favorite_buttons")
                li
                  i(class="far fa-heart")
                li
                  i(class="far fa-bookmark")    
              //-Start Vavorit and like Button 
              
              //-Start Articl Writer
              .articl_writer-content
                p ايه أحمد حجازى
                aside 
                  img(src="img/bg/consult2.png")
                
              //-End Articl Writer
              
          // End Articls Subscribtion
        //- End Articl Block Content
      // End  Articl Block
      // Satrt Articl Block
      .articl_block
        //- Start Articl Block Content
        .row
          //Start Articl Image
          div(class="col-sm-12 col-lg-6 col-xl-3") 
            aside(class="article_image" data-src="img/bg/category3.png")
          //End Articl Image 
          
          //Start Article Description 
          div(class="col-sm-12 col-lg-6 col-xl-6")
             div(class="article_description") 
                h3(class="article_title")  
                  a(href="#") متي يبدء التخطيط المهني ودور الأسرة والمدرسة فيه
                p(class="paragraph_global")
                  .
                    أنسب وقت يبدء فيه الطالب وضع خطة مهنية وهو عنده 15 سنه - تقريبا 3 أعدادي أو أولي ثانوي - وده لأن كل قرار ابتداء في المرحلة بيؤثر في تشكيل وتوجيه مسارنا المهني علي مدار حياتنا. في أوروبا والدور المتقدمة :D عشان #مراكز_التوجيه_المهني في #المدارس تساعد الطلاب علي أتخاذ قرار مهني بتشجع الطلاب علي تطو...
                // ٍStart Flowers details
                ul(class="list_inline flowers_list")
                  //-Start List
                  li
                    i(class="fas fa-newspaper")
                    span مقالة
                  //-End List
                  //-Start List
                  li
                    i(class="far fa-clock") 
                    span نشر فى 18 /11 /2019 
                  //-End List
                  //-Start List
                  li
                    i(class="fas fa-bars")
                    span Career Coaching
  
                  //-End List
  
                // End Flowers details       
          //End Article Description
          
          // Start Articls Subscribtion
          div(class="col-sm-12 col-xl-3")
            .articls_subscription
              //-Start Favorite and like Button  
              ul(class="favorite_buttons")
                li
                  i(class="far fa-heart")
                li
                  i(class="far fa-bookmark")    
              //-Start Vavorit and like Button 
              
              //-Start Articl Writer
              .articl_writer-content
                p ايه أحمد حجازى
                aside 
                  img(src="img/bg/consult2.png")
                
              //-End Articl Writer
              
          // End Articls Subscribtion
        //- End Articl Block Content
      // End  Articl Block
      // Satrt Articl Block
      .articl_block
        //- Start Articl Block Content
        .row
          //Start Articl Image
          div(class="col-sm-12 col-lg-6 col-xl-3") 
            aside(class="article_image" data-src="img/bg/category3.png")
          //End Articl Image 
          
          //Start Article Description 
          div(class="col-sm-12 col-lg-6 col-xl-6")
             div(class="article_description") 
                h3(class="article_title")  
                  a(href="#") متي يبدء التخطيط المهني ودور الأسرة والمدرسة فيه
                p(class="paragraph_global")
                  .
                    أنسب وقت يبدء فيه الطالب وضع خطة مهنية وهو عنده 15 سنه - تقريبا 3 أعدادي أو أولي ثانوي - وده لأن كل قرار ابتداء في المرحلة بيؤثر في تشكيل وتوجيه مسارنا المهني علي مدار حياتنا. في أوروبا والدور المتقدمة :D عشان #مراكز_التوجيه_المهني في #المدارس تساعد الطلاب علي أتخاذ قرار مهني بتشجع الطلاب علي تطو...
                // ٍStart Flowers details
                ul(class="list_inline flowers_list")
                  //-Start List
                  li
                    i(class="fas fa-newspaper")
                    span مقالة
                  //-End List
                  //-Start List
                  li
                    i(class="far fa-clock") 
                    span نشر فى 18 /11 /2019 
                  //-End List
                  //-Start List
                  li
                    i(class="fas fa-bars")
                    span Career Coaching
  
                  //-End List
  
                // End Flowers details       
          //End Article Description
          
          // Start Articls Subscribtion
          div(class="col-sm-12 col-xl-3")
            .articls_subscription
              //-Start Favorite and like Button  
              ul(class="favorite_buttons")
                li
                  i(class="far fa-heart")
                li
                  i(class="far fa-bookmark")    
              //-Start Vavorit and like Button 
              
              //-Start Articl Writer
              .articl_writer-content
                p ايه أحمد حجازى
                aside 
                  img(src="img/bg/consult2.png")
                
              //-End Articl Writer
              
          // End Articls Subscribtion
        //- End Articl Block Content
      // End  Articl Block
    
//=01= End Special Articls

//=02= Start Other Articls
.other_articls
  .container
    h2(class="home_page-title") احدث المقالات
    // Satrt Articl Block
    .articl_block
      //- Start Articl Block Content
      .row
        //Start Articl Image
        div(class="col-sm-12 col-lg-6 col-xl-3") 
          aside(class="article_image" data-src="img/bg/category3.png")
        //End Articl Image 
        
        //Start Article Description 
        div(class="col-sm-12 col-lg-6 col-xl-6")
           div(class="article_description") 
              h3(class="article_title")  
                a(href="#") متي يبدء التخطيط المهني ودور الأسرة والمدرسة فيه
              p(class="paragraph_global")
                .
                  أنسب وقت يبدء فيه الطالب وضع خطة مهنية وهو عنده 15 سنه - تقريبا 3 أعدادي أو أولي ثانوي - وده لأن كل قرار ابتداء في المرحلة بيؤثر في تشكيل وتوجيه مسارنا المهني علي مدار حياتنا. في أوروبا والدور المتقدمة :D عشان #مراكز_التوجيه_المهني في #المدارس تساعد الطلاب علي أتخاذ قرار مهني بتشجع الطلاب علي تطو...
              // ٍStart Flowers details
              ul(class="list_inline flowers_list")
                //-Start List
                li
                  i(class="fas fa-newspaper")
                  span مقالة
                //-End List
                //-Start List
                li
                  i(class="far fa-clock") 
                  span نشر فى 18 /11 /2019 
                //-End List
                //-Start List
                li
                  i(class="fas fa-bars")
                  span Career Coaching

                //-End List

              // End Flowers details       
        //End Article Description
        
        // Start Articls Subscribtion
        div(class="col-sm-12 col-xl-3")
          .articls_subscription
            //-Start Favorite and like Button  
            ul(class="favorite_buttons")
              li
                i(class="far fa-heart")
              li
                i(class="far fa-bookmark")    
            //-Start Vavorit and like Button 
            
            //-Start Articl Writer
            .articl_writer-content
              p ايه أحمد حجازى
              aside 
                img(src="img/bg/consult2.png")
              
            //-End Articl Writer
            
        // End Articls Subscribtion
      //- End Articl Block Content
    // End  Articl Block  
    // Satrt Articl Block
    .articl_block
      //- Start Articl Block Content
      .row
        //Start Articl Image
        div(class="col-sm-12 col-lg-6 col-xl-3") 
          aside(class="article_image" data-src="img/bg/category3.png")
        //End Articl Image 
        
        //Start Article Description 
        div(class="col-sm-12 col-lg-6 col-xl-6")
           div(class="article_description") 
              h3(class="article_title")  
                a(href="#") متي يبدء التخطيط المهني ودور الأسرة والمدرسة فيه
              p(class="paragraph_global")
                .
                  أنسب وقت يبدء فيه الطالب وضع خطة مهنية وهو عنده 15 سنه - تقريبا 3 أعدادي أو أولي ثانوي - وده لأن كل قرار ابتداء في المرحلة بيؤثر في تشكيل وتوجيه مسارنا المهني علي مدار حياتنا. في أوروبا والدور المتقدمة :D عشان #مراكز_التوجيه_المهني في #المدارس تساعد الطلاب علي أتخاذ قرار مهني بتشجع الطلاب علي تطو...
              // ٍStart Flowers details
              ul(class="list_inline flowers_list")
                //-Start List
                li
                  i(class="fas fa-newspaper")
                  span مقالة
                //-End List
                //-Start List
                li
                  i(class="far fa-clock") 
                  span نشر فى 18 /11 /2019 
                //-End List
                //-Start List
                li
                  i(class="fas fa-bars")
                  span Career Coaching

                //-End List

              // End Flowers details       
        //End Article Description
        
        // Start Articls Subscribtion
        div(class="col-sm-12 col-xl-3")
          .articls_subscription
            //-Start Favorite and like Button  
            ul(class="favorite_buttons")
              li
                i(class="far fa-heart")
              li
                i(class="far fa-bookmark")    
            //-Start Vavorit and like Button 
            
            //-Start Articl Writer
            .articl_writer-content
              p ايه أحمد حجازى
              aside 
                img(src="img/bg/consult2.png")
              
            //-End Articl Writer
            
        // End Articls Subscribtion
      //- End Articl Block Content
    // End  Articl Block     
//=02= End Other Articls
// End Blog Page 
