// Start Home Page
// =01= Start What Coach Section
div(class="what_coatch home_page-section")
 .container
   .row
     // Start Block
     div(class="col-sm-12 col-md-6 col-lg-4")
        div(class="Block")
          aside(class="coach_img")
            img(src="img/bg/coach1.png")
          aside(class="coach_description")
            h2(class="home_page-title") ما هو الكوتشنج؟
            p(class="paragraph_global") 
             .
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الف
                
     // Start Block
     div(class="col-sm-12 col-md-6 col-lg-4")
        div(class="Block")
          aside(class="coach_img")
           img(src="img/coach2.png")
          aside(class="coach_description")
           h2(class="home_page-title") ما هو الكوتشنج؟
           p(class="paragraph_global") 
             .
                 
                   هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                 إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الف
                  
            
     // Start Block
     div(class="col-sm-12 col-md-6 col-lg-4")
        div(class="Block")
          aside(class="coach_img")
           img(src="img/coach3.png")
          aside(class="coach_description")
           h2(class="home_page-title") ما هو الكوتشنج؟
           p(class="paragraph_global") 
             .
                 
                   هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                 إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الف
                   
                


  
 
// =01= End What Coach Section 

// =02= Start Why Us Section
div(class="why_us home_page-section")
  .container
    div(class="row") 
        //Start Why Us Description
        div(class="col-sm-12 col-md-6 col-lg-7")
          div(class="why_us-block")
            h2(class="home_page-title") لماذا تختار كونسلترست؟
            p(class="paragraph_global")
              .
                            كونسلترست هى منصة الكترونيه يمكنك استخدامها في أي وقت و من اى مكان ل للحصول على المعرفة لمواجهة كل امور حياتك اليومية. نحن نقدم استشارات فى امورالحياة و المهنية و الامورالأسريه من خلال مدربين ومستشاريين معتمدين 
                كونسلترست
                   هى منصة الكترونيه يمكنك استخدامها في أي وقت و من اى مكان ل للحصول على المعرفة لمواجهة كل امور حياتك اليومية. نحن نقدم استشارات فى امورالحياة و المهنية 
            a(class="button") تواصل معنا الان
        //Start Why Us Img 
        div(class="col-sm-12 col-md-6 col-lg-5")
          aside(class="why_us-img")
            img(src="img/why-us.png" alt="website Screen")
// =02= End Why Us Section


// =03= Start Category Section
div(class="home_category-coach home_page-section")
  .container
    h2(class="home_page-title") استشاراتك و مستشارينك
    .row 
      // Start Block
      div(class="col-sm-12 col-md-6 col-lg-3")
        a(class="category_block" href="#" data-src="img/bg/category1.png")
          h3 علاقات
          
      // Start Block
      div(class="col-sm-12 col-md-6 col-lg-3")
        a(class="category_block" href="#" data-src="img/bg/category2.png")
          h3 علاقات
          
      // Start Block
      div(class="col-sm-12 col-md-6 col-lg-3")
        a(class="category_block" href="#" data-src="img/bg/category3.png")
          h3 علاقات
          
      // Start Block
      div(class="col-sm-12 col-md-6 col-lg-3")
        a(class="category_block" href="#" data-src="img/bg/category4.png")
          h3 علاقات
          
      // Start Block
      div(class="col-sm-12 col-md-6 col-lg-3")
        a(class="category_block" href="#" data-src="img/bg/category5.png")
          h3 علاقات
          
      // Start Block
      div(class="col-sm-12 col-md-6 col-lg-3")
        a(class="category_block" href="#" data-src="img/bg/category6.png")
          h3 علاقات
          
      // Start Block
      div(class="col-sm-12 col-md-6 col-lg-3")
        a(class="category_block" href="#" data-src="img/bg/category7.png")
          h3 علاقات
          
      // Start Block
      div(class="col-sm-12 col-md-6 col-lg-3")
        a(class="category_block" href="#" data-src="img/bg/category8.png")
          h3 علاقات
          
// =03= End Category Section

// =04= Start How Use Section
div(class="how_use home_page-section" data-src="img/bg/how-us.png")
  .container
    h2(class="home_page-title") كيفيه استخدام كونسلترست؟
    .row
      // Start block
      div(class="col-sm-12 col-md-6 col-lg-3")
        div(class="how_use-block")
          aside(class="icon")
            img(src="img/icon/use1.png")
          span
          aside(class="description")
            h3  اختر مستشارك  المناسب
            p(class="paragraph_global") 
              .
                اذهب الى صفحة الخدمات واختار من بين مجموعه متنوعة من المجالات التي تناسب احتياجاتك، كما يمكنك اختيار مستشارك المفضل و التحقق من الدورات و البرامج المتاحه لديه
                
                
      // Start block
      div(class="col-sm-12 col-md-6 col-lg-3")
        div(class="how_use-block block")
          aside(class="icon")
            img(src="img/icon/use2.png")
          span    
          aside(class="description")
            h3  اختر مستشارك  المناسب
            p(class="paragraph_global") 
              .
                اذهب الى صفحة الخدمات واختار من بين مجموعه متنوعة من المجالات التي تناسب احتياجاتك، كما يمكنك اختيار مستشارك المفضل و التحقق من الدورات و البرامج المتاحه لديه
                
      // Start block
      div(class="col-sm-12 col-md-6 col-lg-3")
        div(class="how_use-block")
          aside(class="icon")
            img(src="img/icon/use3.png")
          span    
          aside(class="description")
            h3  اختر مستشارك  المناسب
            p(class="paragraph_global") 
              .
                اذهب الى صفحة الخدمات واختار من بين مجموعه متنوعة من المجالات التي تناسب احتياجاتك، كما يمكنك اختيار مستشارك المفضل و التحقق من الدورات و البرامج المتاحه لديه
                
                
      // Start block
      div(class="col-sm-12 col-md-6 col-lg-3")
        div(class="how_use-block block")
          aside(class="icon")
            img(src="img/icon/use4.png")
          span    
          aside(class="description")
            h3  اختر مستشارك  المناسب
            p(class="paragraph_global") 
              .
                اذهب الى صفحة الخدمات واختار من بين مجموعه متنوعة من المجالات التي تناسب احتياجاتك، كما يمكنك اختيار مستشارك المفضل و التحقق من الدورات و البرامج المتاحه لديه
                
                          
// =04= End How Use Section

// =05= Start Our Best Section
div(class="our_best home_page-section")
  .container
    h2(class="home_page-title") افضل ما لدينا 
    p 
      .
            
            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، 
        حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق
    .row 
      // Start block
      div(class="col-sm-12 col-md-6 col-lg-3")
        a( href="#" class="block ourbest-block-js")
          aside(class="icon icon_white")
            img(src="img/icon/our-best1-white.png" class="icon_img-white")
          aside(class="icon icon_color")
            img(src="img/icon/our-best1-color.png" class="icon_img-color")
          aside(class="description")
            h3 دورات تدريبية
            p(class="paragraph_global") 
              .
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق..
              
              
      // Start block
      div(class="col-sm-12 col-md-6 col-lg-3")
        a( href="#" class="block ourbest-block-js")
          aside(class="icon icon_white")
            img(src="img/icon/our-best2-white.png" class="icon_img-white")
          aside(class="icon icon_color")
            img(src="img/icon/our-best2-color.png" class="icon_img-color")
          aside(class="description")
            h3 دورات تدريبية
            p(class="paragraph_global") 
              .
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق..
              
              
      // Start block
      div(class="col-sm-12 col-md-6 col-lg-3")
        a( href="#" class="block ourbest-block-js")
          aside(class="icon icon_white")
            img(src="img/icon/our-best3-white.png" class="icon_img-white")
          aside(class="icon icon_color")
            img(src="img/icon/our-best3-color.png" class="icon_img-color")
          aside(class="description")
            h3 دورات تدريبية
            p(class="paragraph_global") 
              .
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق..
              
              
      // Start block
      div(class="col-sm-12 col-md-6 col-lg-3")
        a( href="#" class="block ourbest-block-js")
          aside(class="icon icon_white")
            img(src="img/icon/our-best4-white.png" class="icon_img-white")
          aside(class="icon icon_color")
            img(src="img/icon/our-best4-color.png" class="icon_img-color")
          aside(class="description")
            h3 دورات تدريبية
            p(class="paragraph_global") 
              .
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق..
              
// =05= End Our Best Section

// =06= Start Testmonial Section
div(class="testmonial home_page-section" data-src="img/bg/Testmonial.png")
  .container
    h2(class="home_page-title") ماذا قال الناس عنا ؟
    
    div(class="testmonial_slider-js testmonial_slider")
      
      // Start Slid 
      div(class="testmonial_block")
        i(class="fas fa-quote-right")
        p
          .
            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق..
        i(class="fas fa-quote-left")
          
      // Start Slid 
      div(class="testmonial_block")
        i(class="fas fa-quote-right")
        p
          .
            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق..
        i(class="fas fa-quote-left")
          
          
      // Start Slid 
      div(class="testmonial_block")
        i(class="fas fa-quote-right")
        p
          .
            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق..
        i(class="fas fa-quote-left")
      
      
    
// =06= End Testmonial Section
