// Start List of Coaches
div(class="list_cources-content")
  .container
    .row
      //Start Block 
      div(class="col-sm-12 col-md-6 col-lg-4")
        .coach_block(data-src="img/bg/cources1.png")
          .coach_block-description
            h3 Detox Your Mind – التشوهات الفكريه
            h6 Life Coaching
            h4 Friday, October 19, 2018 , 21:00 PM
            h5 ثمن الجلسه فى الساعه االواحدة 
            span 600 جنية
            aside(class="button_content")
              a(href="#" class="button") التفاصيل
              a(href="#" class="button") اشترك الان
      //End Block 
      
      //Start Block 
      div(class="col-sm-12 col-md-6 col-lg-4")
        .coach_block(data-src="img/bg/cources1.png")
          .coach_block-description
            h3 Detox Your Mind – التشوهات الفكريه
            h6 Life Coaching
            h4 Friday, October 19, 2018 , 21:00 PM
            h5 ثمن الجلسه فى الساعه االواحدة 
            span 600 جنية
            aside(class="button_content")
              a(href="#" class="button") التفاصيل
              a(href="#" class="button") اشترك الان
      //End Block 
      
      //Start Block 
      div(class="col-sm-12 col-md-6 col-lg-4")
        .coach_block(data-src="img/bg/cources1.png")
          .coach_block-description
            h3 Detox Your Mind – التشوهات الفكريه
            h6 Life Coaching
            h4 Friday, October 19, 2018 , 21:00 PM
            h5 ثمن الجلسه فى الساعه االواحدة 
            span 600 جنية
            aside(class="button_content")
              a(href="#" class="button") التفاصيل
              a(href="#" class="button") اشترك الان
      //End Block 
      
      
      //Start Block 
      div(class="col-sm-12 col-md-6 col-lg-4")
        .coach_block(data-src="img/bg/cources1.png")
          .coach_block-description
            h3 Detox Your Mind – التشوهات الفكريه
            h6 Life Coaching
            h4 Friday, October 19, 2018 , 21:00 PM
            h5 تكلفه البرنامج: 1223 جنيه 
            span.coast 600 جنية
            aside(class="button_content")
              a(href="#" class="button") التفاصيل
              a(href="#" class="button") اشترك الان
      //End Block 
      
    // Start Button Load More
    aside.button_load-mpre
      button.button رؤية المزيد ...
    // End Button Load More 
