// Start Co Services 
.container-fluid

  // Start Section of Co Services 
  section 
    .row
      // Satrt Description Block
      div(class="col-sm-12 col-lg-6")
        div(class="description")
          h2(class="name") Mohamed Hatem
          span(class="position") CEO
          p 
            . 
              For almost one third of his life , Hatem Spent his Life Building awesome systems, and lead huge projects and transformations in digital technologies. As digital director, he is making sure we are building the best systems that will make our customers proud to use it. He has huge passion towards building innovative solutions that change the game. He loves music ; it clears his head and heal his heart and lift his spirits. And when it comes to fun he enjoys playing Candy Crush. His goal is to make ConsulTrust the mostly used platform. Leadership is not about a title or a designation. It’s about Impact, Influence and inspiration. And he is the ideal example of leadership. He spreads the passion he has for The Project and work environment. And inspires us and customers too. He is positive and supportive even in negative situations.

      // End Description Block

      // Start Imag Block
      div(class="col-sm-12 col-lg-6")
        div(class="img_block")
          img(src="img/co_services1.png" alt="")
      // End Imag Block
  // End Section of Co Services

  // Start Section of Co Services 
  section 
    .row
      // Start Imag Block
      div(class="col-sm-12 col-lg-6")
        div(class="img_block")
          img(src="img/co_services2.png" alt="")
      // End Imag Block

      // Satrt Description Block
      div(class="col-sm-12 col-lg-6")
        div(class="description")
          h2(class="name") Mohamed Hatem
          span(class="position") CEO
          p 
            . 
              For almost one third of his life , Hatem Spent his Life Building awesome systems, and lead huge projects and transformations in digital technologies. As digital director, he is making sure we are building the best systems that will make our customers proud to use it. He has huge passion towards building innovative solutions that change the game. He loves music ; it clears his head and heal his heart and lift his spirits. And when it comes to fun he enjoys playing Candy Crush. His goal is to make ConsulTrust the mostly used platform. Leadership is not about a title or a designation. It’s about Impact, Influence and inspiration. And he is the ideal example of leadership. He spreads the passion he has for The Project and work environment. And inspires us and customers too. He is positive and supportive even in negative situations.

      // End Description Block
  // End Section of Co Services

  // Start Section of Co Services 
  section 
    .row
      // Satrt Description Block
      div(class="col-sm-12 col-lg-6")
        div(class="description")
          h2(class="name") Mohamed Hatem
          span(class="position") CEO
          p 
            . 
              For almost one third of his life , Hatem Spent his Life Building awesome systems, and lead huge projects and transformations in digital technologies. As digital director, he is making sure we are building the best systems that will make our customers proud to use it. He has huge passion towards building innovative solutions that change the game. He loves music ; it clears his head and heal his heart and lift his spirits. And when it comes to fun he enjoys playing Candy Crush. His goal is to make ConsulTrust the mostly used platform. Leadership is not about a title or a designation. It’s about Impact, Influence and inspiration. And he is the ideal example of leadership. He spreads the passion he has for The Project and work environment. And inspires us and customers too. He is positive and supportive even in negative situations.

      // End Description Block

      // Start Imag Block
      div(class="col-sm-12 col-lg-6")
        div(class="img_block")
          img(src="img/co_services3.png" alt="")
      // End Imag Block
  // End Section of Co Services

  // Start Section of Co Services 
  section 
    .row
      // Start Imag Block
      div(class="col-sm-12 col-lg-6")
        div(class="img_block")
          img(src="img/co_services1.png" alt="")
      // End Imag Block

      // Satrt Description Block
      div(class="col-sm-12 col-lg-6")
        div(class="description")
          h2(class="name") Mohamed Hatem
          span(class="position") CEO
          p 
            . 
              For almost one third of his life , Hatem Spent his Life Building awesome systems, and lead huge projects and transformations in digital technologies. As digital director, he is making sure we are building the best systems that will make our customers proud to use it. He has huge passion towards building innovative solutions that change the game. He loves music ; it clears his head and heal his heart and lift his spirits. And when it comes to fun he enjoys playing Candy Crush. His goal is to make ConsulTrust the mostly used platform. Leadership is not about a title or a designation. It’s about Impact, Influence and inspiration. And he is the ideal example of leadership. He spreads the passion he has for The Project and work environment. And inspires us and customers too. He is positive and supportive even in negative situations.

      // End Description Block
  // End Section of Co Services

// End Co Services 