//-Start Course Profile
// Start Course Head
.course_head
  .container
    //-Start Row Of Courses Head
    .row
      //-Start Head Course Coach description
      div(class="col-sm-12 col-lg-6 ")
        div(class="course_coach-description")
          //-Start Courses Head Content
          div(class="course_head-content")
            //-Start Courses Head Title
            aside(class="course_head-title")
              h2(class="home_page-title"): bdi Detox Your Mind  - التشوهات الفكريه
              span(class="puplish_date") تم نشره: 18\04\2018
              //-End Courses Head Title
            a(href="#" class="button") ابدأ الان
            //-Start Favorite and like Button  
            ul(class="favorite_buttons")
              li
                i(class="far fa-heart")
              li
                i(class="far fa-bookmark")    
            //-Start Vavorit and like Button 
            
            //-Strat Profile Coach Info
            div(class="profile_coach-info row")
               div(class="col-sm-12 col-md-5 ")
                 div(class="profile_coach-img" data-src="img/bg/consult2.png")
   
               div(class="col-sm-12  col-md-7")
                 // Start Profile Coach Details
                 div(class="profile_coach-details")
                   h2 د أية أحمد حجازى
                   p 
                     .
                        أخصائى اضربات نفسية وعصبية . وماجستير جراحة ومخ الاعصاب   أخصائى اضربات نفسية وعصبية . وماجستير جراحة ومخ الاعصاب  
                   ul(class="rate list_inline")
                     li(class="defult") 
                       i(class="fas fa-star")
                     li 
                       i(class="fas fa-star")
                     li 
                       i(class="fas fa-star")
                     li 
                       i(class="fas fa-star")
                     li 
                       i(class="fas fa-star")
                   // Coach Job name         
                   // ٍStart Flowers details
                   ul(class="list_inline flowers_list")

                     //-Start List
                     li
                       span 58479
                       i(class="far fa-eye")
                     //-End List
                     //-Start List
                     li
                       span 554 
                       i(class="far fa-heart") 
                     //-End List
                     //-Start List
                     li
                       span 5844
                       i(class="fas fa-newspaper")
                     //-End List



                        
                   // End Flowers details

                 // End Profile Coach Details
            //-End Profile Coach Info 
          
            
      //-End Head Course Coach description
      //-Start Course video
      div(class="col-sm-12 col-lg-6")
        div(class="course_video")
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/UE_VOCmpS1w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

      //-End Course video
    //-End Row Of Courses Head 
         
// End Course Head

// Start Course description
.course_description
  .container
    .row 
      //-=01=Start Course content
      div(class="col-sm-12 col-lg-6")
        .course_content
          h2(class="home_page-title") محتوي الكورس
          h3(class="title") لمن هذا الكورس 
          p(class="paragraph_global") 
            .
                            1. ماهي التشوهات الفكرية 
              2. 26 نوع/ نمط من أنماط التشوهات الفكرية 
              3. المبدأ العملي وراء انتاج العقل لهذه التشوهات الفكرية. 
              4.	كيف تحدد النمط/ الانماط الخاصة بك التي قد تكون مصاب بها.
              5.	كيف تستجيب بشكل ايجابي وواعي مما يؤثر على جودة مشاعرك 
              وعلى مستوى السلوك واتخاذ القارار. 
              
          h3(class="title") لمن هذا الكورس 
          p(class="paragraph_global") 
            .
                            1. ماهي التشوهات الفكرية 
              2. 26 نوع/ نمط من أنماط التشوهات الفكرية 
              3. المبدأ العملي وراء انتاج العقل لهذه التشوهات الفكرية. 
              4.	كيف تحدد النمط/ الانماط الخاصة بك التي قد تكون مصاب بها.
              5.	كيف تستجيب بشكل ايجابي وواعي مما يؤثر على جودة مشاعرك 
              وعلى مستوى السلوك واتخاذ القارار. 

          
      //-=01=End Course Content
    
      //-=02=Start Course Coust
      div(class="col-sm-12 col-lg-6")
        div(class="course_coast-details")
          
          //-Start Program Details 
          div(class="program_details block")
            h2(class="home_page-title") :  تفاصيل البرنامج
            //-Start Program Table 
            div(class="program_table")
              table(class="table table-bordered")
                thead
                  tr
                    th مدة الجلسة
                    th عدد الجلسات
                    th مكان البرنامج
                tbody
                  tr
                    td    (60) دقيقة
                    td     جلسة واحدة
                    td
                      .custum_select
                        select
                          option(value="") وجها لوجه
                          option(value="")  اون لاين
                

            //-End Program Table 
          

          .price_content
            h2(class="home_page-title") العنوان :
            span 19 شارع 300 المعادى الجديدة داخل ConsulTrust
          //-Start Map
          .consult_map
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d110614.27112298223!2d31.224807367121514!3d29.959422478010868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1540651851190" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)
          //-End Map

          //-Start Coast Contwet
          .price_content
             h2(class="home_page-title") اجمالى التكلفة :
             aside 5484 
             span جنية مصرى
          //-End Coast Contwet

          //-End Program Details

          
          //-Start Calender Contetn
          div(class="calender_content block") 
            h2(class="home_page-title") اختر الوقت المناسب لجلستك
            h6(class="time") المواعيد بتوقيت 
              span ( القاهرة )
            //-Start Custum Calender
            div( id="calender-wrapper")
              div(id="calender-title" class="disable-select flex row center-v around")
                div(id="left" class="flex row center-vh")
                  span(class="arrow") <
                p(class="flex row center-vh")
                div(id="right" class="flex row center-vh")
                  span(class="arrow") >
              div(id="days" class="flex row center-vh colorRed disable-select")
                p MON
                p TUE
                p WEDS
                p THURS
                p FRI
                p SAT
                p SUN
              div(id="calender-content" class="flex row wrap disable-select")    

            //-End Custum Calender
          
          
            //-Start Available Dates
            .available_dates-list
              h5(class="available_dates-title")
              ul(class="list-unstyled ") 
                li(class="available_dates-content") 
                  aside(class="available_dates-details")
                   i(class="far fa-clock")
                   span ١٢:٠٠ ص - ٠١:٠٠ صاحجز الان (60 دقيقة)
                  aside(class="available_dates-add")
                   input(class="date_selected-js" data-id="date1" type="checkbox" name="gender" value="male") 
                   label أضف الى القائمة
                   
                li(class="available_dates-content") 
                  aside(class="available_dates-details")
                    i(class="far fa-clock")
                    span gggggggg
                  aside(class="available_dates-add")
                    input(class="date_selected-js" data-id="date2" type="checkbox" name="gender" value="male") 
                    label أضف الى القائمة
                li(class="available_dates-content") 
                  aside(class="available_dates-details")
                    i(class="far fa-clock")
                    span gggggggg
                  aside(class="available_dates-add")
                    input(class="date_selected-js" data-id="date3" type="checkbox" name="gender" value="male") 
                    label أضف الى القائمة
            //-End Available Dates
            //- ٍStart Menu Selected Dates
            div(class="menu_selected-dates")
              h2(class="home_page-title") قائمة المواعيد  المختارة
              ul(class="list-unstyled ") 
                //- li(class="selected_dates-content") 
                //-   aside(class="selected_dates-details")
                //- 
                //-   aside(class="selected_dates-add")
                //-    input(class="date_remove-js" type="checkbox" name="gender" value="male") 
                //-    label حذف من القائمة
            //- End Menu Selected Dates 

          
          

          //End Calender For Programing
          //-Start Booking Button
          .booking_button
            button(class="button show_form-button") تأكيد الحجز
          //-End Booking Button
          //-Start Form Payment
          form(class="" action="index.html" method="post")
            div(class="payment_form-js glopal_form")
             .row
                div(class="col-sm-12 col-md-6 ")
                  label الاسم
                  input(placeholder="")
                div(class="col-sm-12 col-md-6 ")
                  label الاسم
                  input(placeholder="")
                div(class="col-sm-12 col-md-6 col-lg-4")
                  label  الاسم
                  input(placeholder="")
                div(class="col-sm-12 col-md-6 col-lg-4")

                  button(class="button" type="submit") ارسال
          //-End Form Payment
        // Start Social Media Sharing
        .social_sharing
          h3
            i(class="fas fa-share-alt") 
            span  اقترح التدريب لأصدقاءك
            
          ul(class="list_inline")
            li
              a(href="#" class="fab fa-google-plus-g")
            li
              a(href="#" class="fab fa-whatsapp")
            li
              a(href="#" class="fab fa-linkedin-in")
            li
              a(href="#" class="fab fa-twitter")
            li
              a(href="#" class="fab fa-facebook-f")
        // Start Social Media Sharing
        // End Program Tabs
              
      //-=02=End Course Coust
// End Course description

// Start Related Cources 
// Start List of Coaches
div(class="related_courses home_page-section")
  .container
    h2(class="home_page-title") برامج اخرى
    .row
      //Start Block 
      div(class="col-sm-12 col-md-6 col-lg-4")
        .coach_block(data-src="img/bg/cources1.png")
          .coach_block-description
            h3 Detox Your Mind – التشوهات الفكريه
            h6 Life Coaching
            h4 Friday, October 19, 2018 , 21:00 PM
            h5 ثمن الجلسه فى الساعه االواحدة 
            span 600 جنية
            aside(class="button_content")
              a(href="#" class="button") التفاصيل
              a(href="#" class="button") اشترك الان
      //End Block 
      
      //Start Block 
      div(class="col-sm-12 col-md-6 col-lg-4")
        .coach_block(data-src="img/bg/cources1.png")
          .coach_block-description
            h3 Detox Your Mind – التشوهات الفكريه
            h6 Life Coaching
            h4 Friday, October 19, 2018 , 21:00 PM
            h5 ثمن الجلسه فى الساعه االواحدة 
            span 600 جنية
            aside(class="button_content")
              a(href="#" class="button") التفاصيل
              a(href="#" class="button") اشترك الان
      //End Block
      
      //Start Block 
      div(class="col-sm-12 col-md-6 col-lg-4")
        .coach_block(data-src="img/bg/cources1.png")
          .coach_block-description
            h3 Detox Your Mind – التشوهات الفكريه
            h6 Life Coaching
            h4 Friday, October 19, 2018 , 21:00 PM
            h5 ثمن الجلسه فى الساعه االواحدة 
            span 600 جنية
            aside(class="button_content")
              a(href="#" class="button") التفاصيل
              a(href="#" class="button") اشترك الان
      //End Block
      
      
// End Related Cources
//-End Course Profile
