// Start Profile coach Page
.profile_coach
  .container
    .row
      // Stat Coach Column
      div(class="col-sm-12 col-lg-6")
       div(class="profile_coach-info")
         
         //-Strat Profile Coach Info
         .row
            div(class="col-sm-12 col-md-6 ")
              div(class="profile_coach-img" data-src="img/bg/consult2.png")

            div(class="col-sm-12 col-md-6")
              // Start Profile Coach Details
              div(class="profile_coach-details")
                h2 د أية أحمد حجازى
                p 
                  .
                     أخصائى اضربات نفسية وعصبية . وماجستير جراحة ومخ الاعصاب   أخصائى اضربات نفسية وعصبية . وماجستير جراحة ومخ الاعصاب  
                ul(class="rate list_inline")
                  li(class="defult") 
                    i(class="fas fa-star")
                  li 
                    i(class="fas fa-star")
                  li 
                    i(class="fas fa-star")
                  li 
                    i(class="fas fa-star")
                  li 
                    i(class="fas fa-star")

                // Seation Coast
                aside(class="seation_coast")
                  h3 تكلفة الجلسة في الساعة الواحدة
                  ul(class="list_inline seation_coast-content")
                    li 60 دقيقة
                    li 200 جنية
              // End Profile Coach Details
         //-End Profile Coach Info    
       // Start Sub Profile Details
       .sub_profile-details           
         // Start Social Network 
         ul(class=" social_network")
          li 
            i(class="fas fa-eye")
            h6 رؤية
            span (524)

          li 
            i(class="far fa-heart ")
            h6 عدد المتابعين
            span (52)

          li(class="defult") 
            i(class="far fa-newspaper ")
            h6 مقالات و أسئلة
            span (5)
         // End Social Network
         // Start Video of Coach
         .coach_video
           a(class=" video animation slider_buttonvideo-js" data-toggle="modal" data-target="#myModal")
             img(src="img/icon/ic-video.png")
           h4 عن الكوتش
         // The Modal 
         div(class="modal" id="myModal")
           .modal-dialog
              .modal-content

               .modal-header
                  h4( class="modal-title") فيديو تعريفى بالكوتش

                  button(type="button" class="btn btn-danger" data-dismiss="modal") &times;

               .modal-body
                 <iframe width="100%" height="315" src="https://www.youtube.com/embed/5kkE5SKtsag" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        
         // End Video of Coach
       // End Sub Profile Details

       // Start All Tabs "About Coach"
       div(class="profile_coach-tabs")
        ul(class="list_inline tabs")
          li(data-class="about_coach") عن الكوتش
          li(data-class="evaluation_coach") التقييمات 
            span (25 )
          li(data-class="articls_coach") مقالات
            span (26)
        .all_tabs
          // Start About Coach
          .about_coach
            h2(class="home_page-title") تعريف بالكوتش
            p 
              .
                هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق..
                
          // End About Coach

          // Start Evaluation Coach
          .evaluation_coach
            //-Start Evaluation Block 1
            .evaluation_coach-content
              .row
                div(class="col-sm-12 col-md-4 col-lg-2")
                  //- Start Avatar 
                  aside(class="avatar")
                    i(alt="" class="fas fa-user-tie")
                  //- End Avatar
                div(class="col-sm-12 col-md-8 col-lg-10")
                  //- Start Evaluation Content     
                  .evaluation_details
                    h2 محمد حسين حمدان
                    span(class="date") الإثنين، ٢٤ سبتمبر ٢٠١٨ ٠٥:٠٢ م
                    p 
                      .
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق..
                  //- End Evaluation Content  
            //-End Evaluation Block 1      
            //-Start Section Add Evaluation 
            .add_evaluation
              .form(class="glopal_form " action="index.html" method="post")
                h2(class="form_title") اضف تقييم
                textarea(placeholder="أضف تقييمك بكل صراحة")
                button(class="button") ارسال
                
            //-Start Section Add Evaluation     
            //-End Evaluation Block 1   
          // End Evaluation Coach


          // Start Articls Coach
          .articls_coach
            //- Start Articls details
            a(class="articls_details" href="#")
              h2 عنوان المقال
              p 
                .
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق..

            //- End Articls details

          // End Articls Coach
       // End All Tabs "About Coach"
      // End Coach Column



      // Start Booking Coach Column
      div(class="col-sm-12 col-lg-6")
        //-Start Booking Coach Content 
        div(class="booking_coach-content")
          ul(class=" booking_coach-tabs")
            li(data-class="speacial_seation") جلسات خاصة
            li(data-class="program") البرنامج الكامل
            li(data-class="training") دورة تدريبية
          //- ٍStart Booking Coach All tabs
          div(class="all_tabs")
            // Start Speacial Seation
            .speacial_seation
              aside(class="seation_definition block ")
                h2(class="home_page-title") ما هى الجلسات الخاصة ؟
                p 
                  .
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق..

              aside(class="booking_seation block")

                h2(class="home_page-title") احجز جلستك الان
                //-Start Booking Seation Content
                .booking_seation-Content
                  .row
                    div(class="col-sm-12 col-md-4")
                      //-Start  Select Seation Time
                      .custum_select
                        select
                          option(value="") مدة الجلسة
                          option(value="") 60 دقيقة 
                          option(value="") 90 دقيقة 
                          option(value="") 120 دقيقة 
                      //-End  Select Seation Tim
                    div(class="col-sm-12 col-md-4")  
                      //- Start Select Seation Number
                      .custum_select
                        select
                          option(value="") اختر عدد الجلسات
                          option(value="")   (1) عدد جلسات
                          option(value="")   (2) عدد جلسات
                          option(value="")   (3) عدد جلسات
                      //- End Select Seation Number
                    div(class="col-sm-12 col-md-4")
                      //- ٍSTart Select Seation Place
                      .custum_select
                        select
                          option(value="") من خلال النت
                          option(value="") وجها لوجة 
                
                      //- End Select Seation Place
                .address
                    h2 عنوان الدكتور :
                    span  شارع أحمد محمد الدور الثانى
                .price_content
                   h2 اجمالى التكلفة :
                   aside 5484 
                   span جنية مصرى
                                   //-End Booking Seation Content

                //-Start Calender Contetn
                div(class="calender_content block") 
                  h2(class="home_page-title") اختر الوقت المناسب لجلستك
                  h6(class="time") المواعيد بتوقيت 
                    span ( القاهرة )
                  //-Start Custum Calender
                  div( id="calender-wrapper")
                    div(id="calender-title" class="disable-select flex row center-v around")
                      div(id="left" class="flex row center-vh")
                        span(class="arrow") <
                      p(class="flex row center-vh")
                      div(id="right" class="flex row center-vh")
                        span(class="arrow") >
                    div(id="days" class="flex row center-vh colorRed disable-select")
                      p MON
                      p TUE
                      p WEDS
                      p THURS
                      p FRI
                      p SAT
                      p SUN
                    div(id="calender-content" class="flex row wrap disable-select")    

                  //-End Custum Calender
                  
                  //-Start Available Dates
                  .available_dates-list
                    h5(class="available_dates-title")
                    ul(class="list-unstyled ") 
                      li(class="available_dates-content") 
                        aside(class="available_dates-details")
                         i(class="far fa-clock")
                         span ١٢:٠٠ ص - ٠١:٠٠ صاحجز الان (60 دقيقة)
                        aside(class="available_dates-add")
                         input(class="date_selected-js" data-id="date1" type="checkbox" name="gender" value="male") 
                         label أضف الى القائمة
                         
                      li(class="available_dates-content") 
                        aside(class="available_dates-details")
                          i(class="far fa-clock")
                          span gggggggg
                        aside(class="available_dates-add")
                          input(class="date_selected-js" data-id="date2" type="checkbox" name="gender" value="male") 
                          label أضف الى القائمة
                      li(class="available_dates-content") 
                        aside(class="available_dates-details")
                          i(class="far fa-clock")
                          span gggggggg
                        aside(class="available_dates-add")
                          input(class="date_selected-js" data-id="date3" type="checkbox" name="gender" value="male") 
                          label أضف الى القائمة
                  //-End Available Dates
                  //- ٍStart Menu Selected Dates
                  div(class="menu_selected-dates")
                    h2(class="home_page-title") قائمة المواعيد التى المختارة
                    ul(class="list-unstyled ") 
                      //- li(class="selected_dates-content") 
                      //-   aside(class="selected_dates-details")
                      //- 
                      //-   aside(class="selected_dates-add")
                      //-    input(class="date_remove-js" type="checkbox" name="gender" value="male") 
                      //-    label حذف من القائمة
                  //- End Menu Selected Dates 
                  
                  //-Start Booking Button
                  .booking_button
                    button(class="button show_form-button") تأكيد الحجز
                  //-End Booking Button
                  //-Start Form Payment
                  form(class="" action="index.html" method="post")
                    div(class="payment_form-js glopal_form")
                     .row
                        div(class="col-sm-12 col-md-6 ")
                          label الاسم
                          input(placeholder="")
                        div(class="col-sm-12 col-md-6 ")
                          label الاسم
                          input(placeholder="")
                        div(class="col-sm-12 col-md-6 col-lg-4")
                          label  الاسم
                          input(placeholder="")
                        div(class="col-sm-12 col-md-6 col-lg-4")
    
                          button(class="button" type="submit") ارسال
                  //-End Form Payment
                //-End Calender Contetn 
                
            // End Speacial Seation
            // Start Program
            .program
              div(class="seation_definition block")
                h2( class="home_page-title") ما هى الجلسات الخاصة ؟
                p
                  .
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق..
              //-Start Block Program ٍShow      
              div(class=" program_show block")
                h2( class="home_page-title" ) وصف البرنامج
                ul(Class="list-unstyled")
                  li هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة،
                  li هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة،
                  li هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة،
                
                //-Start Video programe 
                div(class="video_programe")
                  iframe(width="100%" height="250" src="https://www.youtube.com/embed/1_1NU2-K1-0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
                //-End Video programe
              //-End Block Program ٍShow

              //-Start Program Details 
              div(class="program_details block")
                h2(class="home_page-title") :  تفاصيل البرنامج
                //-Start Program Table 
                div(class="program_table")
                  table(class="table table-bordered")
                    thead
                      tr
                        th مدة الجلسة
                        th عدد الجلسات
                        th مكان البرنامج
                    tbody
                      tr
                        td    (60) دقيقة
                        td     جلسة واحدة
                        td
                          .custum_select
                            select
                              option(value="") وجها لوجه
                              option(value="")  اون لاين
                    

                //-End Program Table 
              //-End Program Details
              //-Start Address Title
              .div(class="Block address")
                h2 العنوان :
                  span 13 شارع احمد حسين 
              //-End Address Title
              
              
              //-Start Address Title
              div(class="address_title") 
                .price_content
                  h2   تكلفة البرنامج  :
                  aside 154
                  span  جنية مصرى 
              //-End Address Title
              
              //End Calender For Programing
              //-Start Booking Button
              .booking_button
                button(class="button show_form-button") تأكيد الحجز
              //-End Booking Button
              //-Start Form Payment
              form(class="" action="index.html" method="post")
                div(class="payment_form-js glopal_form")
                 .row
                    div(class="col-sm-12 col-md-6 ")
                      label الاسم
                      input(placeholder="")
                    div(class="col-sm-12 col-md-6 ")
                      label الاسم
                      input(placeholder="")
                    div(class="col-sm-12 col-md-6 col-lg-4")
                      label  الاسم
                      input(placeholder="")
                    div(class="col-sm-12 col-md-6 col-lg-4")

                      button(class="button" type="submit") ارسال
              //-End Form Payment
            // End Program Tabs
            // Start Training Tabs
            .training
              //-Start Training Area
              div(class="training_area block")
                aside(class="title_content")
                  h2(class="home_page-title") أزواج لكن سعداء
                  a(href="#" class=" read_more") قراءة المزيد
                p 
                  .
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق..
              //-End Training Area
              
              //-Start Training Area
              div(class="training_area block")
                aside(class="title_content")
                  h2(class="home_page-title") أزواج لكن سعداء
                  a(href="#" class=" read_more") قراءة المزيد
                p 
                  .
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق..
              //-End Training Area
            // End Training Tabs
            //-Start Contact us Area
            aside(class="contatc_us-icons")
              p لا تتردد فى التواصل معنا
              ul(class="list_inline ")
                  li
                    a(href="#" class="fas fa-phone")
                      
                  li
                    a(href="#" class="fab fa-whatsapp")
                      
                  li
                    a(href="#" class="far fa-envelope")
              //-End Contact us Area
        // Start Social Media Sharing
        .social_sharing
          h3
            i(class="fas fa-share-alt") 
            span  اقترح التدريب لأصدقاءك
            
          ul(class="list_inline")
            li
              a(href="#" class="fab fa-google-plus-g")
            li
              a(href="#" class="fab fa-whatsapp")
            li
              a(href="#" class="fab fa-linkedin-in")
            li
              a(href="#" class="fab fa-twitter")
            li
              a(href="#" class="fab fa-facebook-f")
        // Start Social Media Sharing
          //- End Booking Coach All tabs


        //-End Booking Coach Content 
      // End Booking Coach Column

// End Profile coach Page
