// Start Provider List
div(class=" provider_list")
  // Start List of Coaches
  div(class="list_coaches")
    .container
      .row
        //Start Block 
        div(class="col-sm-12 col-md-6 col-lg-3")
          .coach_block(data-src="img/bg/consult1.png")
            .coach_block-description
              h3 احمد حسنين جريندر
              h4 علاقات زوجية
              ul(class="list_rate")
                li(class="fas fa-star")
                li(class="fas fa-star")
                li(class="fas fa-star")
                li(class="fas fa-star")
                li(class="fas fa-star")
              h5 ثمن الجلسه فى الساعه االواحدة 
              span 600 جنية
              a(href="#" class="button") احجز الان
        //End Block 
        
        //Start Block 
        div(class="col-sm-12 col-md-6 col-lg-3")
          .coach_block(data-src="img/bg/consult2.png")
            .coach_block-description
              h3 احمد حسنين جريندر
              h4 تربية أطفال وتربية اسريه وبشرية وتربوية التربويات
              ul(class="list_rate")
                li(class="fas fa-star")
                li(class="fas fa-star")
                li(class="fas fa-star")
                li(class="fas fa-star")
                li(class="fas fa-star")
              h5 ثمن الجلسه فى الساعه االواحدة 
              span 600 جنية
              a(href="#" class="button") احجز الان
        //End Block 
  // End List of Coaches
// End Provider List
