// Satrt Sitemap
.sitemap(data-src="img/bg/sitemap.png")
    .container
        h2(class="home_page-title") خريطة الموقع
        .row

            // Satrt Sitmap Block
            div(class="col-sm-6 col-md-4 col-lg-3")
                .siteman_block
                    h3(class="siteman_block-title")  الرئيسيه
                    ul(class="siteman_block-list")
                        li
                            a(href="#" target="_blanck")  الرئيسيه
                        li
                            a(href="#" target="_blanck") من نحن
                        li
                            a(href="#" target="_blanck") استشارينا
                        li
                            a(href="#" target="_blanck") المدونة
            // End Sitmap Block

            // Satrt Sitmap Block
            div(class="col-sm-6 col-md-4 col-lg-3")
                .siteman_block
                    h3(class="siteman_block-title") خدماتنا
                    ul(class="siteman_block-list")
                        li
                            a(href="#" target="_blanck") دورات تدريبية
                        li
                            a(href="#" target="_blanck") محاضرات
                        li
                            a(href="#" target="_blanck") لايف 
                        li
                            a(href="#" target="_blanck")  للشركات          
            // End Sitmap Block


            // Satrt Sitmap Block
            div(class="col-sm-6 col-md-4 col-lg-3")
                .siteman_block
                    h3(class="siteman_block-title")  المدونة
                    ul(class="siteman_block-list")
                        li
                            a(href="#" target="_blanck") مقالات 
                        li
                            a(href="#" target="_blanck") أسئلة 
                        li
                            a(href="#" target="_blanck") فيديوهات
         
            // End Sitmap Block


            // Satrt Sitmap Block
            div(class="col-sm-6 col-md-4 col-lg-3")
                .siteman_block
                    h3(class="siteman_block-title")  استشارينا
                    ul(class="siteman_block-list")
                        li
                            a(href="#" target="_blanck") Career Coaching
                        li
                            a(href="#" target="_blanck") Fitness Coaching
 
                        li
                            a(href="#" target="_blanck") Life Coaching
                        li
                            a(href="#" target="_blanck")  Business Coaching
            // End Sitmap Block

            // Satrt Sitmap Block
            div(class="col-sm-6 col-md-4 col-lg-3")
                .siteman_block
                    h3(class="siteman_block-title") عن الشركه
                    ul(class="siteman_block-list")
                        li
                            a(href="#" target="_blanck") عن الشركه
                        li
                            a(href="#" target="_blanck") فريق كونسلترست
                        li
                            a(href="#" target="_blanck") الشروط والأحكام للعميل
                        li
                            a(href="#" target="_blanck")  الشروط والأحكام للأستشاريين      
                        li
                            a(href="#" target="_blanck") سياسة الخصوصيه
                        li
                            a(href="#" target="_blanck")  سياسة الأسترجاع       
            // End Sitmap Block

            // Satrt Sitmap Block
            div(class="col-sm-6 col-md-4 col-lg-3")
                .siteman_block
                    h3(class="siteman_block-title") للتواصل معنا
                    ul(class="siteman_block-list")
                        li
                            a(href="#" target="_blanck") تواصل معنا
                        li
                            a(href="#" target="_blanck") support@consultrustpro.com
                        li
                            a(href="#" target="_blanck") فيسبوك
                        li
                            a(href="#" target="_blanck") تويتر   

                        li
                            a(href="#" target="_blanck") لينكد إن 
                        li
                            a(href="#" target="_blanck") انستجرام   

                        li
                            a(href="#" target="_blanck") يوتيوب                 
            // End Sitmap Block


            // Satrt Sitmap Block
            div(class="col-sm-6 col-md-4 col-lg-3")
                .siteman_block
                    h3(class="siteman_block-title") التنزيلات
                    ul(class="siteman_block-list")
                        li
                            a(href="#" target="_blanck") جوجل بلاي
                        li
                            a(href="#" target="_blanck") ابل ستور
       
            // End Sitmap Block






            
// End Sitemap