// Start favorite
div(id="favorite") 

    // Start Speacial Seation
    section(class="speacial_section")
        h3(class="all_tabs-title") دورات تدريبيه
        // Start List of Coaches
        div(class="list_cources-content")
            .container
                .row
                    //Start Block 
                    div(class="col-sm-12 col-md-6 col-lg-6")
                        .coach_block(data-src="img/bg/cources1.png")
                            .coach_block-description
                                h3 Detox Your Mind – التشوهات الفكريه
                                h6 Life Coaching
                                h4 Friday, October 19, 2018 , 21:00 PM
                                h5 ثمن الجلسه فى الساعه االواحدة 
                                span 600 جنية
                                aside(class="button_content")
                                    a(href="#" class="button") التفاصيل
                                    a(href="#" class="button") اشترك الان
                    //End Block 
                    
                    //Start Block 
                    div(class="col-sm-12 col-md-6 col-lg-6")
                        .coach_block(data-src="img/bg/cources1.png")
                            .coach_block-description
                                h3 Detox Your Mind – التشوهات الفكريه
                                h6 Life Coaching
                                h4 Friday, October 19, 2018 , 21:00 PM
                                h5 ثمن الجلسه فى الساعه االواحدة 
                                span 600 جنية
                                aside(class="button_content")
                                    a(href="#" class="button") التفاصيل
                                    a(href="#" class="button") اشترك الان
                    //End Block 
                    
                    //Start Block 
                    div(class="col-sm-12 col-md-6 col-lg-6")
                        .coach_block(data-src="img/bg/cources1.png")
                            .coach_block-description
                                h3 Detox Your Mind – التشوهات الفكريه
                                h6 Life Coaching
                                h4 Friday, October 19, 2018 , 21:00 PM
                                h5 ثمن الجلسه فى الساعه االواحدة 
                                span 600 جنية
                                aside(class="button_content")
                                    a(href="#" class="button") التفاصيل
                                    a(href="#" class="button") اشترك الان
                    //End Block 
    // End Speacial Seation 
    
    // Start Speacial Seation 
    section(class="speacial_section ")
        h3(class="all_tabs-title") مقالات
            // Satrt Articl Block
    .articl_block
      //- Start Articl Block Content
      .row
        //Start Articl Image
        div(class="col-sm-12 col-lg-6 col-xl-3") 
          aside(class="article_image" data-src="img/bg/category3.png")
        //End Articl Image 
        
        //Start Article Description 
        div(class="col-sm-12 col-lg-6 col-xl-6")
           div(class="article_description") 
              h3(class="article_title")  
                a(href="#") متي يبدء التخطيط المهني ودور الأسرة والمدرسة فيه
              p(class="paragraph_global")
                .
                  أنسب وقت يبدء فيه الطالب وضع خطة مهنية وهو عنده 15 سنه - تقريبا 3 أعدادي أو أولي ثانوي - وده لأن كل قرار ابتداء في المرحلة بيؤثر في تشكيل وتوجيه مسارنا المهني علي مدار حياتنا. في أوروبا والدور المتقدمة :D عشان #مراكز_التوجيه_المهني في #المدارس تساعد الطلاب علي أتخاذ قرار مهني بتشجع الطلاب علي تطو...
              // ٍStart Flowers details
              ul(class="list_inline flowers_list")
                //-Start List
                li
                  i(class="fas fa-newspaper")
                  span مقالة
                //-End List
                //-Start List
                li
                  i(class="far fa-clock") 
                  span نشر فى 18 /11 /2019 
                //-End List
                //-Start List
                li
                  i(class="fas fa-bars")
                  span Career Coaching

                //-End List

              // End Flowers details       
        //End Article Description
        
        // Start Articls Subscribtion
        div(class="col-sm-12 col-xl-3")
          .articls_subscription
            //-Start Favorite and like Button  
            ul(class="favorite_buttons")
              li
                i(class="far fa-heart")
              li
                i(class="far fa-bookmark")    
            //-Start Vavorit and like Button 
            
            //-Start Articl Writer
            .articl_writer-content
              p ايه أحمد حجازى
              aside 
                img(src="img/bg/consult2.png")
              
            //-End Articl Writer
            
        // End Articls Subscribtion
      //- End Articl Block Content

            //- Start Articl Block Content
      .row
        //Start Articl Image
        div(class="col-sm-12 col-lg-6 col-xl-3") 
          aside(class="article_image" data-src="img/bg/category3.png")
        //End Articl Image 
        
        //Start Article Description 
        div(class="col-sm-12 col-lg-6 col-xl-6")
           div(class="article_description") 
              h3(class="article_title")  
                a(href="#") متي يبدء التخطيط المهني ودور الأسرة والمدرسة فيه
              p(class="paragraph_global")
                .
                  أنسب وقت يبدء فيه الطالب وضع خطة مهنية وهو عنده 15 سنه - تقريبا 3 أعدادي أو أولي ثانوي - وده لأن كل قرار ابتداء في المرحلة بيؤثر في تشكيل وتوجيه مسارنا المهني علي مدار حياتنا. في أوروبا والدور المتقدمة :D عشان #مراكز_التوجيه_المهني في #المدارس تساعد الطلاب علي أتخاذ قرار مهني بتشجع الطلاب علي تطو...
              // ٍStart Flowers details
              ul(class="list_inline flowers_list")
                //-Start List
                li
                  i(class="fas fa-newspaper")
                  span مقالة
                //-End List
                //-Start List
                li
                  i(class="far fa-clock") 
                  span نشر فى 18 /11 /2019 
                //-End List
                //-Start List
                li
                  i(class="fas fa-bars")
                  span Career Coaching

                //-End List

              // End Flowers details       
        //End Article Description
        
        // Start Articls Subscribtion
        div(class="col-sm-12 col-xl-3")
          .articls_subscription
            //-Start Favorite and like Button  
            ul(class="favorite_buttons")
              li
                i(class="far fa-heart")
              li
                i(class="far fa-bookmark")    
            //-Start Vavorit and like Button 
            
            //-Start Articl Writer
            .articl_writer-content
              p ايه أحمد حجازى
              aside 
                img(src="img/bg/consult2.png")
              
            //-End Articl Writer
            
        // End Articls Subscribtion
      //- End Articl Block Content
    // End  Articl Block 
        

    // End Speacial Seation                
                   

// End BookMark
// End favorite