// Start Profile Menue
div(class="col-sm-12 col-md-6 col-lg-3")
     
    div(class="profile_menu")
        aside(class="show_menu")
            i(class="fas fa-chevron-left")
        //-Start Profile Pictrue
        .add_image
            aside(class="profile_image")
                img(class="" src="img/icon/avatar-sm.png")
            h4(class="user_name") محمد سراج الدين
            h5(class="user_email") mohamed.20@gmail.com
            aside(class="profile_button-content")
                a(class="button" href="#") 
                    i(class="fas fa-upload") 
                    span تعديل البيانات
                a(class="back_button fas fa-upload" href="#")
        //-End Profile Pictrue

        //-Start Profile Menu List
        .profile_menu-list
            ul(class="menu_list list-unstyled")
                //-Start Blok
                li(data-id="#meating")
                    img(src="img/icon/meating.png" alt="Meating")
                    span اجتماعات قادمة
                //-Start Blok

                //-Start Blok
                li(data-id="#wallt")
                    img(src="img/icon/walled.png" alt="Meating")
                    span  محفظه الرصيد
                //-Start Blok

                //-Start Blok
                li(data-id="#favorite")
                    img(src="img/icon/favorit.png" alt="Meating")
                    span  قائمه المفضله
                //-Start Blok

                //-Start Blok
                li(data-id="#book_mark")
                    img(src="img/icon/book-mark.png" alt="Meating")
                    span  قائمه المراجع
                //-Start Blok

                //-Start Blok
                li(data-id="#question")
                    img(src="img/icon/question.png" alt="Meating")
                    span  اسئلتي
                //-Start Blok



        //-End Profile Menu List
// End Profile Menue