@import "helpers/variables.scss"; /**/
/*Start My Custum */
// Startc My Custum Code //

.clickable {
  position: relative;

  &:hover {
    z-index: 3;
    cursor: pointer;
    // box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.14);
    background: $secondColor;
    color: white;

    .day_avilable {}

    p {
      color: #080;
    }
  }

  .day_avilable {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
    font-size: 12px;
    background-color: #DDD;
    color: #fff;
    display: inline-block;

    &.added_sessions {
      background-color: #f00;
    }
  }
}
// End My Custum Code //
.arrow {
  cursor: pointer;
}
/*End My Custum */
// body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   font-family: "Baloo";
// }

input,
textarea {
  padding: 0;
  border: none;
}

.flex {
  display: flex;
}

.flex.center-v {
  align-items: center;
}

.flex.center-h {
  justify-content: center;
}

.flex.center-vh {
  align-items: center;
  justify-content: center;
}

.flex.start {
  justify-content: flex-start;
}

.flex.end {
  justify-content: flex-end;
}

.flex.around {
  justify-content: space-around;
}

.flex.between {
  justify-content: space-between;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#calender-title .clickable {
  cursor: pointer;
}

.colorRed {
  color: $secondColor;
}

.bgColorRed {
  background-color: $secondColor;
}

.bgColorDarkRed {
  background-color: #bc6969;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-3-4 {
  width: 75%;
}

.width-1-4 {
  width: 25%;
}

.overflow-hidden {
  overflow: hidden;
}

#calender-wrapper {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

#calender-title {
  background: $mainColor;
  color: white;
  font-size: 30pt;
  height: 60px;
}

#calender-title div {
  height: 60px;
  width: 60px;
}

#calender-title p {
  height: 60px;
  width: 150px;
  font-size: 26px;
  color: #fff;
  margin: 0;
}

#calender-title #left:hover span {
  padding-right: 10px;
  transition: 0.2s;
}

#calender-title #right:hover span {
  padding-left: 10px;
  transition: 0.2s;
}

#calender-content {
  // width: 560px;
  // margin: 0 auto;
  padding: 10px;
}

#make-booking {
  height: 100%;
  font-size: 20pt;
  color: white;
}

#remove-booking {
  height: 100%;
  font-size: 20pt;
  color: white;
}

#booking-wrapper {
  position: absolute;
  height: 650px;
  width: 720px;
  background: white;
  border-radius: 10px 10px 0 0;
  margin-top: 150px;
  transition: 0.4s;
  overflow: hidden;
}

#booking-wrapper.opened {
  margin-top: -645px;
}

#booking-title {
  color: white;
  font-size: 30pt;
  height: 60px;
  width: 100%;
}

#booking-form {
  height: 685px;
  width: 98%;
  padding: 10px;
  background: $secondColor;
}

#booking-form p {
  margin: 20px 0 0;
  color: white;
  font-size: 14pt;
}

#booking-form > div:nth-child(1) p {
  margin: 0;
}

#booking-form input {
  height: 50px;
}

#booking-form textarea {
  height: 270px;
  resize: none;
}

#booking-form textarea,
input {
  background: white;
  color: $secondColor;
  font-family: "Baloo";
  font-size: 14pt;
}

#booking-form .width-3-4 {
  border-right: 6px solid $secondColor;
}

.month {
  width: 14.28%;
  height: 60px;
  margin: 8px 0;
  line-height: 60px;
  transition: 0.4s;

  &.active {
    .month-selector {
      background: $secondColor;
    }
  }

  p {
    font-size: 20px;
  }
}

#days p {
  width: 14.28%;
  text-align: center;
  font-size: 15px;
  background: $darkColor;
  color: #fff;
  padding: 8px ;
  @media (max-width:$lg){
   padding: 8px 4px;
  }
}

.month-selector {
  width: 75%;
  height: 100%;
  transition: 0.4s;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    font-size: 20px;
  }
}

.month-selector.clicked {
  background: #FF6B6B;
  color: white;
}

.month-selector.booked {
  background: #743131;
  color: white;
  overflow: hidden;
}

.month-selector.booked:after {
  content: 'X';
  position: absolute;
  margin-top: -3px;
  font-size: 100pt;
  font-family: "Ubuntu";
  opacity: 0.1;
}

.month-selector.booked.clicked {
  background: #894747;
  color: white;
  overflow: hidden;
}

.booked:hover {
  z-index: 3;
  height: 110px;
  width: 110px;
  background: #894747;
  box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.14);
  cursor: pointer;
}