@import "helpers/variables.scss";
@import "componants/buttons.scss";

/** Registration Popup**/
/*Start General Style in all Popup*/
.modal-header {}

.modal {
  overflow-x: hidden;
  overflow-y: auto;

  .modal-content {
    background-color: #F5F6FF;

    .close {
      color: #f00;
    }

    .modal-body {
      .title {
        text-align: center;
        font-size: 30px;
        color: $pColor;
        margin-bottom: 30px;
      }

      .sub_title {
        text-align: center;
        font-size: 20px;
        color: $pColor;
      }

      .paragraph_link {
        color: $pColor;
        text-align: center;

        a {
          color: $mainColor;
          @extend %transition;

          &:hover {
            color: $redColor;
          }
        }
      }

      .sign_button-content {
        display: block;
        text-align: center;

        .button {}
      }

      .middel_form {
        width: 400px;
        margin: 0 auto;
      }
    }
  }
}

/*Footer of Registration Screen*/

.modal-footer {
  span {
    color: $darkColor;
    position: relative;
    margin: 0 16px;
    @extend %transition;
    cursor: pointer;

    &:hover {
      color: $redColor;
    }

    &:before {
      position: absolute;
      display: block;
      content: "\f30b";
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;
      top: 5px;
      right: -20px;
      left: auto;
    }
  }
}

/*End of Registration Screen*/
/*End General Style in all Popup*/
/*=01=Start Popup Creat Account */

#creat_account {
  .modal-body {
    text-align: center;

    .list_registration-with {
      li {
        margin: 16px 0;

        &:nth-of-type(1) {
          a {
            background-color: $google;
          }
        }

        &:nth-of-type(2) {
          a {
            background-color: $linkedin;
          }
        }

        &:nth-of-type(3) {
          a {
            background-color: $facebook;
          }
        }

        &:nth-of-type(4) {
          a {
            background-color: $pColor;
          }
        }

        a {
          display: inline-block;
          padding: 14px 20px;
          border-radius: 30px;
          background-color: #f00;
          color: #fff;

          @media (min-width: $lg) {
            width: 400px;
          }

          @media (max-width:$lg) {
            width: 100%;
          }

          @extend %transition;

          &:hover {
            border-radius: 0;
          }

          i {
            display: inline-block;
            // margin: 0 6px;
            font-size: 22px;
          }

          span {
            margin: 0 8px;
          }
        }
      }
    }

    .have_account {
      a {}
    }

    .accept_rols {
      margin-top: 40px;
    }
  }
}

/*=01=End  Popup Creat Account */
/*=02=Start Popup Sign Up */
#sign_up {
  .glopal_form {}
}

/*=02=End  Popup Sign Up */
/*=03=Start Popup Sign In*/
#sign_in {
  .glopal_form {
    width: 400px;
    margin: 0 auto;

    input {
      margin: 0;
    }

    label {
      margin-top: 20px;
    }
  }

  .modal-body {
    .forget_password {
      margin-bottom: 30px;
      text-align: right;
    }

    .sign_with-social {
      text-align: center;
      padding: 30px 0;

      .paragraph_link {
        margin-bottom: 10px;
      }

      h2 {
        font-size: 16px;
        color: $redColor;
        margin-bottom: 30px;
      }

      ul {
        li {
          padding: 10px 16px;
          border-radius: 30px;
          margin: 0 8px;
          @extend %transition;

          &:nth-of-type(1) {
            background-color: $google;
          }

          &:nth-of-type(2) {
            background-color: $twitter;
          }

          &:nth-of-type(3) {
            background-color: $facebook;
          }

          &:hover {
            border-radius: 0;
          }

          a {
            i {
              font-size: 22px;
              margin: 0 4px;
              color: #fff;
            }

            span {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

/*=03=End Popup Sign In*/