doctype
html(len="en" dir="rtl" )
  head
   include include/links
  
  body
    include include/navbar
    include include/head_single
    div(class=" about_us")
      include include/page/about-us

    include include/footer
    // include Js File
    include include/links-js

    
