doctype
html(len="en" dir="rtl" )
  head
   include include/links

  body
    include include/navbar
    include include/head_single
    div(class="single_page blog")
      include include/blog_search
      include include/page/blog-details
    include include/footer
    // include Js File
    include include/links-js 
