doctype
html(len="en" dir="rtl" )
  head
   include include/links
  
  body
    include include/navbar
    include include/slider
    include include/page/homepage
    include include/footer
    // include Js File
    include include/links-js

    
