doctype
html(len="en" dir="rtl" )
  head
   include include/links
  
  body
    include include/navbar
    include include/head_single
    div(class="single_page list_cources-page")
      include include/advanced_search
      include include/page/list-cources
    include include/footer
    // include Js File
    include include/links-js

    
