doctype
html(len="en" dir="rtl" )
  head
   include include/links
  
  body
    include include/navbar
    include include/head_single
    div(class=" co_services")
      include include/page/our-team
    include include/footer
    // include Js File
    include include/links-js

    
