doctype
html(len="en" dir="rtl" )
  head

    include include/links
    //- Start Custum Calender-->
    link(href="https://fonts.googleapis.com/css?family=Baloo|Ubuntu" rel="stylesheet")
    //- End Custum Calender-->

  
  body
    include include/navbar
    include include/head_single
    div(class="single_page provider_coach")
      include include/advanced_search
      include include/page/profile-coach
    include include/footer
    // include Js File
    include include/links-js

    
