doctype
html(len="en" dir="rtl" )
  head
   include include/links
  
  body
    include include/navbar
    div(class=" recording_course")
      include include/page/recording-course-profile
    include include/footer
    // include Js File
    include include/links-js
