doctype
html(len="en" dir="rtl" )
  head
   include include/links
  
  body
    include include/navbar
    include include/head_single
    div(class="single_page ")
      include include/page/sitemap
    include include/footer
    // include Js File
    include include/links-js

    
