// Start Blog Search
form( action="index.html" method="post")

  .provider_search
    .container
      // Satrt Form
      div(class="search_content row")
        //-Start Category one
        div(class="col-sm-12 col-md-6 col-lg-3")
          .custum_select
            select
              option الكل
              option مقالات
              option  مقالات  
        //-End Category one
        
        //-Start Category two
        div(class="col-sm-12 col-md-6 col-lg-3")
          .custum_select
            select
              option احتر التخصص
              option استشارت اسرية وعلمية
              option تربية أطفال 
              option علاقات زوجية
        //-End Category two

    
        //-Start Button Submit
        div(class="col-sm-12 col-md-6 col-lg-4")
          .seach_button-content
            input( type="text" name="" value="" placeholder="كلمة البحث ...")


  
        //-End Button Submit
        div(class="col-sm-12 col-md-6 col-lg-1")
          button(type="button" class="search_button" name="button") 
           i(class="fas fa-search") 

          //-End Form  
      //-End Button open Advanced search  
      // End Form  
  // End Blog Search
