//- //-Start Calender Contetn
//- div(class="calender_content block") 
//-   h2(class="home_page-title") اختر الوقت المناسب لجلستك
//-   h6(class="time") المواعيد بتوقيت 
//-     span ( القاهرة )
//-   //-Start Custum Calender
//-   div( id="calender-wrapper")
//-     div(id="calender-title" class="disable-select flex row center-v around")
//-       div(id="left" class="flex row center-vh")
//-         span(class="arrow") <
//-       p(class="flex row center-vh")
//-       div(id="right" class="flex row center-vh")
//-         span(class="arrow") >
//-     div(id="days" class="flex row center-vh colorRed disable-select")
//-       p MON
//-       p TUE
//-       p WEDS
//-       p THURS
//-       p FRI
//-       p SAT
//-       p SUN
//-     div(id="calender-content" class="flex row wrap disable-select")    
//-   //- End Custum Calender
