<div id="calender-wrapper">
  <div id="calender-title" class="disable-select flex row center-v around">
    <div id="left" class="flex row center-vh">
      <span class="arrow">
        < </span> </div> <p class="flex row center-vh month_title">
          </p>
          <div id="right" class="flex row center-vh"><span class="arrow">></span>
          </div>
    </div>
    <div id="days" class="flex row center-vh colorRed disable-select">
      <p>MON</p>
      <p>TUE</p>
      <p>WEDS</p>
      <p>THURS</p>
      <p>FRI</p>
      <p>SAT</p>
      <p>SUN</p>
    </div>
    <div id="calender-content" class="flex row wrap disable-select">
    </div>


  </div>
