// Start Footer
footer
 .container
   .row 
     
     // Start Column 1
     div(class="col-sm-12 col-md-6 col-lg-3")
      aside(class="footer_logo")
        img(alt="WhitLogo" src="img/logo-ar-white.png")
      p(class="paragraph_global")
        .
          كونسلترست هى منصة الكترونيه آمنة للغاية وسهلة الاستخدام حيث يمكنك مقابلة الاستشاريين وانت فى منزلك. جميع الاستشاريين لدينا متخصصين ومعتمدين في تخصصهم. كونسلترست تسعى إلى إحداث فرق في حياتك. قم بتجربة خدماتنا، وتمتع بالتجربة وغير حياتك
            
     // Start Column 2
     div(class="col-sm-12 col-md-6 col-lg-3")
      h2(class="home_page-title") عن الشركة
      ul
        li
          a(href="") عن الشركه
        li
          a(href="") فريق كونسلترست
        li
          a(href="") الشروط والأحكام للعميل
        li
          a(href="") الشروط والأحكام للأستشاريين
        li
          a(href="") سياسة الخصوصيه
        li
          a(href="") سياسة الأسترجاع  
       
     // Start Column 3
     div(class="col-sm-12 col-md-6 col-lg-3")
       h2(class="home_page-title") عن الشركة
       ul
         li
           a(href="#" ) 
              i(class="fas fa-user") 
              span  أستشارينا
            
         li
           a(href="#" ) 
             i(class="fas fa-mobile-alt") 
             span
               bdi 012154154544
         li
           a(href="#" ) 
             i(class="fas fa-envelope") 
             span
                bdi  support@consultrustpro.com
        
       ul(class="social_media")
         li
           a(href="#" alt="Facebook" class="fab fa-facebook-f")
             
         li
           a(href="#" alt="twitter" class="fab fa-twitter")
             
         li
           a(href="#" alt="instagram" class="fab fa-instagram")
             
         li
           a(href="#" alt="linkedin" class="fab fa-linkedin-in")
             
         li
           a(href="#" alt="youtube" class="fab fa-youtube")
             
         li
           a(href="#" alt="Facebook" class="fab fa-whatsapp")
        
     // Start Column 4
     div(class="col-sm-12 col-md-6 col-lg-3")
       h2(class="home_page-title") المزيد
       ul
         li
           a(href="#" ) انضم لفريق الاستشاريين 
         li
           a(href="#" ) الأسئله الشائعه 
         li
           a(href="#" ) خريطة الموقع
         li
           a(href="#" ) وظائف
       aside(class="app_content")   
         a(href="#")
           img(src="img/icon/apple.png")
         a(href="#")
           img(src="img/icon/android.png")
// End Footer

// Start Go up Button
span(class="go_up go_up-js fas fa-angle-up") 
// End Go up Button 
// Start copyright
.copyright
  .container
    .copyright_content
      span
        a(href="#")   2018 <i class="far fa-copyright"></i> جميع الحقوق محفوظة لشركة كونسلترست
      span(class="payment")
        img(src="img/icon/payment.png")
// End copyright

  
