//Start Head Page Single
.head_page(class="header" data-src="img/bg/head-page.png")
  .container
    .head_page-content
      h1(class="home_page-title") استشاراتنا ومستشارينا
      ul(class="bread_crumb")
          li
            a(href="#") الرئيسية

          li  استشارتنا ومستشارينا 
     

//End Head Page Single
