//Start Navbar
div(class="navbar")
 div(class="container-fluid")
  div(class="navbar_content")
    a(class="navbar_brand brand_color",href="index.html")
      img(src="img/logo-ar-color.png")
    a(class="navbar_brand brand_white",href="index.html")
      img(src="img/logo-ar-white.png")
    //Start Navbar Menu
    div(class="navbar_overlay")
    div(class="navbar_menu")
       ul(class="navbar_menu-lest")
         li
           a(href="index.html" title="Home") الرئيسية
         li()
           a(href="about-us.html" title="Home") من نحن
         li(class="dropdown_link")
            a خدماتنا
             i(class="fas fa-sort-down")
            ul(class="navbar_dropdown-menu")
              li
                a(href="course-profile.html") دورات تدريبية
              li 
                a(href="my-account.html") مقالات واسئلة
              li 
                a(href="recording-course-profile.html") فيديوهات
              li
                a(href="webinar-details.html") محاضرات لايف
              li 
                a(href="services.html") خدمات للشركات
         li
            a(href="provider.html") استشارينا
         li
           a(href="blog.html") المدونة

         
       div(class="login_area-content")

         // Start Notification Area
         div(class="notification_area ") 
          aside(class="notification_button new_notification ") 
            i(class="far fa-bell")
          ul(class="notification_area-list")
            li(class="title")
              span الاشعارات
            // Notification List   
            li
              span(class="notification-date") الأربعاء 25 سبتمبر . 2:30 مساء
              a( href="") اكمل شراء دوره "التشوهات الفكريه" واحصل %علي خصم 25
            // Notification List

            // Notification List   
            li
              span(class="notification-date") الأربعاء 25 سبتمبر . 2:30 مساء
              a( href="") اكمل شراء دوره "التشوهات الفكريه" واحصل %علي خصم 25
            // Notification List


            // Notification List   
            li
              span(class="notification-date") الأربعاء 25 سبتمبر . 2:30 مساء
              a( href="") اكمل شراء دوره "التشوهات الفكريه" واحصل %علي خصم 25
            // Notification List


            // Notification List   
            li(class="active")
              span(class="notification-date") الأربعاء 25 سبتمبر . 2:30 مساء
              a( href="") اكمل شراء دوره "التشوهات الفكريه" واحصل %علي خصم 25
            // Notification List
         // Start Notification Area

         a(class="login_button" href="#")
            aside(class="avatar_img" data-src="img/bg/consult2.png")
             
            span(data-toggle="modal" data-target="#sign_in") تسجيل الدخول
         a(class="languge" href="#") En
  //Navbar Button
  .navbar_button
    i(class="fas fa-bars")
    //End Navbar Menu 

//End Navbar
